body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
div{
    text-align: center;
}
.title{
    background-color: #232323;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
#btn{
    background: #232323;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;

}